<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="JavaScripts/jquery-2.1.3.js"></script>
    <script src="JavaScripts/angular.js"></script>
    <script src="Scripts/underscore.js"></script>
    <script src="JavaScripts/ng-mongo/app.js"></script>
    <link href="Styles.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-app="myApp">
        <div ng-controller="myCtrl">
            <h1>Wellcome to the show</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Last Had</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.LastDrank | date: 'fullDate'}}</td>
                        <td><button class="btn btn-danger" ng-click="removeItem(item)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            <h3>
                <ng-pluralize count="items.length" when="pluralize"></ng-pluralize>
            </h3>
            <p>
                <label>Beer Name</label>
                <input type="text" ng-model="name" />
            </p>
            <p>
                <label>Price</label>
                <input type="text" ng-model="price" />
            </p>
            <p>
                <button class="btn btn-success" ng-click="addBeer()">Add</button>
            </p>
        </div>
    </div>
</body>
</html>
